{% extends 'account/registration/base.html' %}
{% block title %}
  Reset password
{% endblock %}
{% block form %}
  <form class="col-lg-10 mx-auto" action="" method="post">
    {% csrf_token %}
    {% if form.errors %}
      {% for field in form %}
        {% if field.errors %}
          <div class="alert alert-danger pb-0" role="alert">
            {{ field.label }}: {{ field.errors }}
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <h3 class="mb-2">Forgot password?</h3>
    {% endif %}
    {{ form }}
    <button class="btn btn-primary py-2 mb-4 mt-5 w-100" type="submit">Reset</button>

  </form>
{% endblock %}