{% extends 'account/base.html' %}
{% block title %}
  Add Address
{% endblock %}
{% block form %}
  <form action="" class="" method="post">
    {% csrf_token %}
    {% if form.errors %}
      <p>Please correct the following errors:</p>
      {% for field in form %}
        {% if field.errors %}
          <div class="alert alert-danger pb-0" role="alert">
            {{ field.label }}: {{ field.errors }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    {{ form }}
    <button type="submit" class="btn btn-primary w-100">{% if 'update' in request.get_full_path %}
      Save Address
    {% else %}
      Add Address
    {% endif %}
    </button>
  </form>
{% endblock %}