{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>


    <title>{% block title %}My Shop{% endblock %}</title>
</head>
<body>
{% include 'store/includes/header.html' %}
<div id="content" class="container py-3">
    {% block content %} <h1> Here is nothing to show you :( </h1>{% endblock %}
</div>
</body>
</html>